<%- include('header', {active: "register"}) -%>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Regisztráció</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form>
                <div class="form-group">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="exampleInputEmail1">Felhasználónév</label>
                            <input type="text" class="form-control" name="username" placeholder="Felhasználónév">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="exampleInputEmail1">Teljes név</label>
                            <input type="text" class="form-control" name="fullname" placeholder="Teljes név">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="exampleInputEmail1">Email cím</label>
                            <input type="email" class="form-control" name="email" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="exampleInputPassword1">Jelszó</label>
                            <input type="password" class="form-control" name="password" placeholder="Jelszó">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="exampleInputPassword1">Jelszó újra</label>
                            <input type="password" class="form-control" name="password-confirm" placeholder="Jelszó újra">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="exampleInputEmail1">Cím</label>
                            <input type="text" class="form-control" name="address" placeholder="Cím">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="exampleInputEmail1">Telefonszám</label>
                            <input type="text" class="form-control" name="phone" placeholder="Telefonszám">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Mehet</button>
            </form>
        </div>
    </div>
</div>

<%- include('footer') -%>